header {
    text-align: center;
}

#left-part {
    width: 40%;
    float: left;
    text-align: center;
}

#right-part {
    width: 40%;
    float: right;
    text-align: center;
}

#word-input1 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: rgb(24, 10, 85);
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 32px;
}

#submit-word-button1 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid rgb(23, 156, 156);
  margin: 20px 20px 20px 20px;
  color: #00FF00;
  background-color: #454545;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#submit-word-button1:hover {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #454545;
    margin: 20px 20px 20px 20px;
    color: #00FF00;
    background-color: rgb(16, 116, 116);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  #letter-input1 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: rgb(24, 10, 85);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 32px;
    text-align: center;
  }
  
  #submit-letter-button1 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid rgb(23, 156, 156);
    margin: 20px 20px 20px 20px;
    color: #00FF00;
    background-color: #454545;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #submit-letter-button1:hover {
      display: inline-flex;
      height: 40px;
      width: 150px;
      border: 2px solid #454545;
      margin: 20px 20px 20px 20px;
      color: #00FF00;
      background-color: rgb(16, 116, 116);
      text-transform: uppercase;
      text-decoration: none;
      font-size: .8em;
      letter-spacing: 1.5px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
	
	#wordfinder {
		text-align: center;
		position:static;
	}
	
	#word {
		clear: both;
		text-align: center;
		vertical-align: central;
		width: 100%;
		height: 100%;
	}
	
	#wordfinder {
		font-size: 60px;
		color: #0000FF;
	}